@import "../../../resources/styles/variables";

.root {
  text-decoration: none;
  overflow: hidden;
  border-radius: $borderRadius-base;
  box-shadow: $boxShadowBase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .image {
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
    height: 238px;

    @media screen and (min-width: $breakPoint-tablet) {
      height: 138px;
    }
  }

  .spec {

    :first-child {
    }

    > div {
      padding: 4px;
    }
  }
}