@import "../variables";

// this utility can be used in other scss files
@mixin handleDarkModeBackground($isDarkMode, $color) {
  @if $isDarkMode {
    background: $color !important;
  }
}

@mixin handleDarkModeColor($isDarkMode, $color) {
  @if $isDarkMode {
    color: $color !important;
  }
}

@each $i in $alibaba-palette {
  // background colors
  // same approach in tailwind (oh god, I'm genius)
  .dark\:bg-#{nth($i, 1)} {
    body.dark & {
      @include handleDarkModeBackground($isDarkMode: true, $color: nth($i, 2))
    }
  }
  .bg-#{nth($i, 1)} {
    background: nth($i, 2) !important;
  }

  // font colors
  .dark\:#{nth($i, 1)} {
    body.dark & {
      @include handleDarkModeColor($isDarkMode: true, $color: nth($i, 2))
    }
  }
  .#{nth($i, 1)} {
    color: nth($i, 2) !important;
  }
}
